*{
  box-sizing: border-box;
}

body,html{
  height: 100%;
}
body{
  background-image: url('https://raregamer.github.io/bg-concert.jpg');
  background-size: cover;
}

#gridContainer-drumpads{
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-gap: 16px;
  justify-content: end;
  align-content: end;
  justify-content: end;
  height: 90%;
}

.drum-pad{
  width: 80px;
  height: 80px;

}

#drum-machine{
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.drum-machine{
    width: 450px;
    height: 350px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.945);
    box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);

    padding: 16px;
}
.container-display{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#display{
  width:30%;
  height: 10%;
  background: #77ABFF;
  padding-left: 8px;

}

#logo{
  color: whitesmoke;
}
